body {
  background-color: black;
}

 .navbar {
  background-color: black;
  color: whitesmoke

 }

 .tileTOP {
  color: grey
}

 h1 {
  text-align: center;
  font-size: 35pt

}

 .yourName {
  text-align: center
} 

.tile {
background-color: rgb(233, 233, 233)


}